/* место для вашего кода */
header {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    align-items: center;
    height: 293px;
}

.header__links-list {
    display: flex;
    width: 392px;
    padding-left: 50px;
    gap: 30px
}

.header__links-list-item_no-bullit {
    list-style: none;

}

.header__links-list-item {
    list-style: circle;
    width: fit-content;
    white-space: nowrap;
}

.header__link {
    text-decoration: underline;
}

.header__link_active {
    text-decoration: none;
}

.header_font {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}

.logo {
    align-self: center;
    justify-self: center;
    min-width:  129.11196899414062px;
    min-height: 104.6517562866211;


}

.address * {
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.address a {
    text-decoration: none;
    width: fit-content;
    color: black;
    border-bottom: 1px solid black;
}

.header__address {
    box-sizing: content-box;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 240px;
    min-width: 240px;
    height: 98px;
    gap: 6px;
    padding-left: 130px;
}


.cover {
    position: relative;
    min-height: 757px;
    max-height: 757px;
}

.cover-background {
    background-position: center;
    background-image: url('../images/cover.jpg');
    min-width: 100%;
    min-height: 757px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    min-height: 100%;
    min-width: 100%;
    opacity: 0.5;
    z-index: 1;
}

.cover-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 757px;
    max-height: 757px;
    width: 100%;
    z-index: 2;
    color: white;
}

.cover_title_font {
    font-family: "Raleway";
    font-weight: 700;
    font-style: bold;
    font-size: 100px;
    line-height: 114.99999999999999%;
    letter-spacing: 30px;
    text-align: center;
    text-transform: uppercase;

}

.aligned-text {
    height: 385px;
    margin-top: 165px;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
}

.aligned-text_left {
    position: absolute;
    top: 0px;
    left: 0px;
}

.aligned-text_center {
    position: absolute;
    top: 134px;
    left: 330px;
}

.aligned-text_right {
    position: absolute;
    top: 270px;
    left: 614px;
}

.cover-content .description {
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 106px;
    margin-bottom: 50px;
    height: 51px;
    justify-content: space-between;
    word-spacing: 18.5px;
    align-items: center;
}

.cover_label_font {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.cover-content .description .description-text {}

.bet-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    width: 256;
    height: 51;
    padding: 12px 32px 11px 31px;
}

.lots {
    display: flex;
    flex-direction: column;
    margin: 185px 24px 0px 24px;
}

.lots__heading {
    margin-left: 40px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.lots .lots__card-list {
    display: flex;
    gap: 25px;
    margin-top: 27px;
    list-style: none;
}

.card {
    position: relative;
    width: 334px;
    height: 596px;
}

.card__background {
    width: 334px;
    height: 596px;
}

.card_type_film {
    background-position: center;
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-position: center;
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-position: center;
    background-image: url('../images/card-lot-03.jpg');
}

.card article {
    display: flex;
    flex-direction: column;
    height: 596px;
    max-height: 596px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    z-index: 2;
    padding: 48px 40px 48px 40px;
    justify-content: space-between;
}

.card__title {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
}


.card__text {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.lots__look-more-link {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 30px 0px 0px 40px;
}



.about {
    display: grid;
    grid-template-columns: 334px auto;
    margin: 120px 24px 0px 24px;
}

.about__column {
    padding: 140px 24px 0px 24px;
}

.about__logo {
    align-self: center;
    justify-self: center;
    display: flex;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    margin: 35px auto auto 47px;
}

.about__logo img {
    margin: auto;
    width: 148px;
    height: 114px;
}

.about__title {
    font-family: "Raleway";
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 110px;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

}

footer {
    height: 180px;
    min-height: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 180px;
}

.footer_font {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.footer__address {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    width: 250px;
    min-width: 250px;
    height: 98px;
    gap: 6px;
    padding-left: 50px;
}

.footer__menu{
    justify-self: center;
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__links-list-item{
    max-width: fit-content;
}

.footer_social__links-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.footer__link{
    text-decoration: underline;
}

.footer_social__menu{
    padding-left: 50px;
    padding-right: 20px;
}

.footer_social_logo{
    max-height: 48px;
    max-width: 48px;
}